body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
}

/* Estilos para la tabla */
table {
    width: 70%; 
    margin: 20px auto; 
    border-collapse: collapse; 
    font-size: 0.9em; 
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

th,
td {
    padding: 12px 15px; 
    text-align: left; 
}

th {
    background-color: #333;
    color: white;
}

tr {
    border-bottom: 1px solid #dddddd; 
}

tr:nth-child(even) {
    background-color: #f3f3f3; 
}

tr:hover {
    background-color: #ddd; 
    cursor: pointer;
}

button {
    background-color: #333;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 15%;
}